:root {
    --gradient: linear-gradient(135deg, rgba(231, 76, 60, 0.9) 0%, rgba(243, 156, 18, 0.9) 100%);
    --orange: #ee7c3f;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
}